.logo{
    height: 42px;
    width: 101px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/logo.png");
}
.contentLeft .tips{
    margin-bottom: 0px;
}
.imgList{
    position: relative;
    overflow: hidden;
}
.imgList img {
    height: 271px;
    width: 100%;
}
.imgList .title {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: calc(100% - 21px);
    height: 30px;
    margin: 3px 0px 3px 10px;
    line-height: 30px;
    text-align: center;
    background-color: #3C3C3C;
    opacity: 1;
    color: #fff;
}
.imgList .info {
    position: absolute;
    top: 0;
    right: 8px;
    display: block;
    width: 33%;
    height: 30px;
    margin: 3px;
    line-height: 30px;
    text-align: center;
    background-color: #F37B1D;
    opacity: 1;
    color: #fff;
}
.dataList .header .tuijian{
    border: none;
}
.dataList .header{
    border: 1px solid #ddd;
}
.dataList .tuijian li a{
    padding: 8px 5px;
    text-decoration: underline;
}
.dataList .shipin{
    padding: 0;
}
.dataList a {
}
.dataList .shipin .title{
    /*font-size: 1.8rem;
    line-height: 4.3rem;
    height: 8.6rem;
    text-overflow: ellipsis;*/
}
.dataInfo {
    padding-top: 0px;
}
/*专辑页面*/
.video-play-src a {
    width: 50px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    display: block;
    text-align: center;
    color: #3e4452;
    float: left;
    margin: 2px 5px 0 6px;
    background: #e6e8e9;
}
